/* * {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
} */

/* :root {
  font-size: 62.5%;
  --font-large: 5rem;
  --pink: #e94560;
  --dark-blue: #041c32;
  --cyan: #79dae8;
} */

/* body {
  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
  box-sizing: border-box;
} */

.hero-title-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.hero-primary {
  backface-visibility: hidden;
}

.hero-title {
  display: block;
  font-size: var(--font-large);
  animation: fadeIn 2000ms ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hero-sub {
  display: block;
  font-size: 2rem;
  animation: fadeIn 2000ms ease-out 1500ms;
  animation-fill-mode: backwards;
}

.hero-sub-pink {
  display: inline-block;
  color: var(--pink);
}

.navbar-container {
  padding: 1rem;
  background-color: var(--dark-blue);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav-item {
  padding-right: 1rem;
  transition: all 300ms ease-out;
  letter-spacing: 0.1rem;
}

.nav-item:hover {
  color: var(--pink);
  cursor: pointer;
}
