.character {
  text-align: center;
  &__heading-main {
    font-size: $font-mdlg;
    text-transform: uppercase;
    @include linear-gradient-text;
  }

  &__heading-sub {
    letter-spacing: $sub-heading-letter-spacing;
    text-shadow: $text-shadow-blue;
    font-size: 1.5rem;
  }

  &__image-box {
    height: 30rem;
    width: 25rem;
    border: 1px solid whitesmoke;
    margin: auto;
  }

  &__image {
    width: 100%;
    height: 75%;
  }

  &__grid-1 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }

  &__grid-2 {
    display: grid;
  }
}
