.hero {
  &__heading-primary {
    position: absolute;
    font-weight: 200;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    backface-visibility: hidden;
    @include linear-gradient-text;

    &--main-1,
    &--main-2 {
      display: block;
      font-size: $font-xxl;
      padding-bottom: 2rem;
    }

    &--sub {
      display: block;
      font-size: $font-md;

      // animation-fill-mode: backwards;

      &--pink {
        display: inline-block;
        color: $color-green-neon;
        animation: fadeIn 2500ms ease-out 1000ms;
        animation-fill-mode: backwards;
      }
    }
  }

  &__copyright {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
