.hero {
  &__image {
    position: absolute;
    background-image: url(../../../public/images/compressed_stones.jpg);
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: opacity(85%) brightness(85%) blur(1.5px);
    z-index: -1;
  }

  &__heading-primary {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    backface-visibility: hidden;

    &--main {
      display: block;
      font-size: $font-lg;
      animation: fadeIn 2000ms ease-out;
    }

    &--sub {
      display: block;
      font-size: $font-md;
      animation: fadeIn 2000ms ease-out 1500ms;
      animation-fill-mode: backwards;

      &--pink {
        display: inline-block;
        color: $color-pink;
      }
    }
  }
}
