.hero {
  &__heading-primary {
    padding-top: 5rem;
    font-weight: 200;
    text-align: center;
    width: 100%;
    backface-visibility: hidden;
    position: relative;

    @include linear-gradient-text;

    &--main-1,
    &--main-2 {
      display: block;
      font-size: $font-xxl;
      padding-bottom: 2rem;

      @include respond(phone) {
        letter-spacing: 0.1ch;
        font-size: $font-lg;
      }
    }

    &--sub {
      display: block;
      font-size: $font-md;
    }
  }

  &__copyright {
    margin-top: 12rem;
    text-align: center;
    color: blue;
  }
}
