.projects-hangman {
  &__heading-primary {
    text-transform: uppercase;
    font-size: $font-mdlg;
    font-weight: 200;
    letter-spacing: 0.2ch;
    margin: auto;
    text-align: center;
  }

  &__skills {
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
  }

  &__drawing-box {
    float: right;
    margin: 0 0 3rem 3rem;
    height: 40rem;
    width: 40rem;
    border: 1.5px solid whitesmoke;
    text-align: center;
  }

  &__drawing {
    margin: auto;
    padding-top: 3rem;
    width: 90%;
  }

  &__drawing-text {
    font-size: $font-md;
    display: inline-block;
  }
}
