.projects {
  &__heading-primary {
    text-transform: uppercase;
    font-size: $font-mdlg;
    font-weight: 200;
    letter-spacing: 0.2ch;
    margin: auto;
    text-align: center;

    @include linear-gradient-text;
  }

  &__stack-desc {
    text-shadow: $text-shadow-blue;
    text-transform: uppercase;
  }

  &__skills {
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
  }

  &__image-box {
    float: right;
    margin: 0 0 3rem 3rem;
    height: 40rem;
    width: 40rem;
    border: 3px solid whitesmoke;
    text-align: center;

    &:hover {
      @include scale-plus-border-color;
    }

    @include respond(tab-port) {
      float: none;
      margin: auto;
      margin-bottom: 5rem;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__drawing {
    margin: auto;
    padding-top: 3rem;
    width: 90%;
  }

  &__drawing-text {
    font-size: $font-md;
    display: inline-block;
  }

  &__stack-desc {
    @include respond(tab-land) {
      line-height: 2.5rem;
    }
  }

  &__description {
    line-height: 2rem;
    color: blue;
  }
}
