.abilities {
  &__box {
    height: 20rem;
    width: 20rem;
    border: 3px solid whitesmoke;

    &:hover {
      @include scale-plus-border-color;
    }
    &:hover .abilities__name {
      @include linear-gradient-text;
    }
  }

  &__image {
    width: 100%;
    height: 70%;
  }

  &__text-box {
    display: inline-block;
    height: 30%;
    width: 100%;
    vertical-align: middle;
  }
}

.row-abilities {
  @include row;
  margin-top: 3rem;
  justify-content: space-between;
}
