.btn {
  border: 0.1rem whitesmoke solid;
  font-size: 1.5rem;
  width: 15rem;
  padding: 0.5rem;
  border-radius: 3px;
  letter-spacing: 0.1rem;
  box-shadow: $box-shadow-default;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  box-shadow: $box-shadow-hover;
}

.btn:active {
  box-shadow: $box-shadow-default;
}

// .btn-hero {
//   position: absolute;
//   // top: 37%;
//   left: 50%;
//   width: 15rem;
//   padding: 1rem;
//   letter-spacing: 0.1rem;
//   border: 1px solid transparent;
//   transform: translate(-50%, -50%) translateY(4rem);

//   &__text {
//     font-size: $font-default;
//     transform: translateY(0.25rem);
//     text-shadow: 2px 2px 2px blue;
//   }

//   &:hover {
//     // color: $color-green-neon;
//     // border: 1px solid $color-green-neon;

//     .btn-hero__arrow {
//       transition: all 300ms ease-out;
//       transform: rotate(90deg);
//     }
//   }
// }
