.btn {
  border: 0.1rem whitesmoke solid;
  font-size: 1.5rem;
  width: 15rem;
  padding: 0.5rem;
  border-radius: 3px;
  letter-spacing: 0.1rem;
  box-shadow: $box-shadow-default;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  box-shadow: $box-shadow-hover;
}

.btn:active {
  box-shadow: $box-shadow-default;
}

.btn-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.5rem;
  width: 15rem;
  padding: 0.5rem;
  letter-spacing: 0.1rem;
  border: 1px solid whitesmoke;
  border-radius: 100px;
  transform: translate(-50%, -50%) translateY(4rem);
  transition: all 300ms ease-in-out;
  animation: fadeIn 2000ms ease-out 1500ms;
  animation-fill-mode: backwards;
  text-align: center;
}
