.navbar {
  margin-left: 1rem;
  top: 0px;
  position: fixed;
  z-index: 100;

  &__nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  &__nav-item {
    padding: 1rem;
    border: 1px solid transparent;
    // transition: all 300ms ease-out;
    backface-visibility: hidden;
    letter-spacing: 0.2rem;
    font-size: $font-xxs;
    &:hover {
      color: $color-green-neon;
      border: 1px solid $color-green-neon;
      cursor: pointer;
    }
  }

  &__line {
    position: absolute;
    background-color: $color-cyan;
    width: 100%;
    height: 2px;
    bottom: 0;
  }
}
