.proficiencies-container {
  width: 50rem;
  height: auto;
  border: 3px solid whitesmoke;
  padding: 2rem 4rem;
  margin: auto;

  &:hover {
    @include scale-plus-border-color;
  }
}

.proficiencies {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: left;

  &__list {
    display: flex;
    flex-direction: column;

    text-transform: uppercase;
  }

  &__name {
    padding: 0.5rem 0;

    &:hover {
      @include linear-gradient-text;
      cursor: pointer;
    }
  }

  &__icon {
    float: right;
  }
}
