@mixin linear-gradient-text {
  background-image: linear-gradient(yellow, red);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin scale-plus-border-color {
  transform: scale(105%);
  border: 5px solid whitesmoke;
  border-image: linear-gradient(yellow, red) 1;
}

@mixin linear-border {
  border: 1px solid whitesmoke;
  border-image: linear-gradient(yellow, red) 1;
}

@mixin linear-border-mouse {
  border: 3px solid whitesmoke;
  border-image: linear-gradient(yellow, red) 1;
}
