//Fonts
$source-code-pro: "Source Code Pro", monospace;

//Font Sizes
$font-xxl: 8rem;
$font-xl: 6rem;
$font-lg: 4rem;
$font-mdlg: 3rem;
$font-md: 2rem;
$font-sm: 0.8rem;
$font-xs: 0.6rem;
$font-xxs: 0.4rem;

$font-default: 1rem;

//Font Weights
$font-weight-default: 300;

//Colors
$color-pink: #e94560;
$color-blue-dark: #041c32;
$color-blue-background: #16213e;
$color-cyan: #79dae8;
$color-green-neon: #1cd6ce;

$color-background-primary: rgb(1, 1, 9);

//Effects
$box-shadow-default: 0 5px 10px rgba(0, 0, 0, 0.2);
$box-shadow-hover: 0 10px 20px rgba(0, 0, 0, 0.5);

//Transitions
$transition-default: all 300ms ease-out;
