//Padding
.u-padding-section-x-sm {
  padding: 0 10rem !important;
}

.u-padding-section-x-md {
  padding: 0 15rem !important;
}

.u-padding-section-x-lg {
  padding: 0 20rem !important;
}
//Margin
.u-margin-bottom-section {
  margin-bottom: 15rem !important;
}

.u-margin-bottom-large {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 6rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}
